# ignore everything
/*

# except...
!.gitignore
!README.md
!/snippets
!*.py
!*.sublime-build
!*.sublime-keymap
!*.sublime-commands
!Package Control.sublime-settings
!LSP.sublime-settings
!nginx.sublime-settings
!Markdown.sublime-settings
!sublack.sublime-settings
!JsPrettier.sublime-settings

# make sure to ignore this guy, it has my GitHub API token
GitSavvy.sublime-settings
